.bg {
  display: flex;
  flex-direction: column-reverse;
  }
.list-box {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  
  
}
.list-container {
  margin-top: 100px;
  overflow-y: scroll;
  max-height: 600px;
}

/* 웹킷 브라우저에서만 스크롤 바 숨기기 */
.list-container::-webkit-scrollbar {
  width: 0.5em; /* 스크롤바 너비 조절 */
}

.list-container::-webkit-scrollbar-thumb {
  background-color: white; /* 스크롤바 색상 */
}

.list-container::-webkit-scrollbar-track {
  background: none; /* 스크롤바 트랙 배경 없음 (숨김) */
}

.list-item {
  width: 50%;
  display: flex;
  align-items: center;
  padding: 20px;
  justify-content: space-between;
  background: white;
  border-radius: 10px;
  margin-top: 15px;
  box-shadow: rgb(224, 224, 224) 0px 2px 4px 0px;
  opacity: 1;
  transition: all 1s;
  border: 2px solid #eee;
  
}
.list-item h4 {
  font-size: 20px;
  font-weight: 800;
  margin: 0;
}
.list-item p {
  color: grey;
  margin : 5px 0px;
}
.p-20 {
  padding: 20px;
}

input {
  box-sizing: border-box;
  background-color: #fff;
  padding: 10px;
  display: block;
  margin-bottom: 10px;
}
button {
  padding: 10px 25px;
  background: #fff;
  border: none;
  border-radius: 5px;
}
.list-btn{
  float: right;
}

.write-btn{
  width: 90%;
  margin-bottom: 600px;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  margin-top: 10px;
}
.write-btn button{
  border: 2px solid #eee;
}