.bg {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 100px;
}

.favorite-box h4{
    color: #fff;
    background: #03a9f4;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 700;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 0px;
}

.favorite-box {
    width: 30%;
    height: 60%;
    list-style: none;
    background: #fff;
    box-shadow: 0 5px 25px rgba(0,0,0,.1);
}

.favorite-ullist {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.favorite-list {
    margin-top: 10px;
}