.bg {
  display: flex;
  justify-content: center; 
  align-items: center; 
  padding: 10px;
}
.h3{
  text-align: center;
}

.ml-100{
  width: 55%;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40vh; 
}

.tag-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5개씩 가로로 나열 */
  grid-gap: 10px; /* 각 태그 사이의 간격 */
}


input[type="radio"]{
  display: none;
}

label {
  position: relative;
  color: #4189e0;
  cursor: pointer;
  gap: 0.8em;
  border: 2px solid #4189e0;
  border-radius: 10px;
  padding: 1em 2em;
  display: flex;
  align-items: center;
  margin-right: 10px;
  text-align: center;
  justify-content: center;
}

label:before {
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

input[type="radio"]:checked + label:before {
  height: 20px;
  width: 20px;
  border : 10px solid #fff;
  background-color: #4189e0;
}

input[type="radio"]:checked + label {
  background-color: #4189e0;
  color: #fff;
}

.recommend-btn {
  width: 20%;
  position: relative;
  color: #4189e0;
  cursor: pointer;
  gap: 0.8em;
  border: 2px solid #4189e0;
  border-radius: 10px;
  padding: 1em 2em;
  margin-top: 30px;
  background: none;
  
}

.recommend-btn:hover{
  background-color: #4189e0;
  color: #fff;
}

.recommend-box {
  display: flex; 
  align-items: center; 
  justify-content: center;
}

.dark-mode h3{
  color: white;
}
.dark-mode label{
  color: white;
  border: 2px solid white;
}
.dark-mode .recommend-box input{
  color: white;
  border: 2px solid white;
}
.dark-mode input[type="radio"]:checked + label{
  background: #eee;
  color: black;
}
.dark-mode .recommend-btn:hover{
  background: #eee;
  color: black;
}
