.bg{
  display: flex;
  justify-content: space-evenly;
  padding-top: 150px;
}
.bg div{
  margin-top: 0px;
}
input {
  box-sizing: border-box;
  padding: 10px;
  display: block;
  margin-bottom: 10px;
}
button {
  padding: 10px 15px;
  background:silver;
  border: none;
  border-radius: 5px;
  background: rgb(249, 250, 255);
}

.write{
  flex-direction: column;
  display: flex;
  justify-content: flex-end;
}
.comment-container{
 
}