.bg{
  display: flex;
  justify-content: center;
  align-items: center;
}
input {
  box-sizing: border-box;
  padding: 10px;
  display: block;
  margin-bottom: 10px;
}
button {
  padding: 10px 15px;
  background:silver;
  border: none;
  border-radius: 5px;
  margin-left: 130px;
}
