body {
    margin: 0;
}
*{
    box-sizing: border-box;
}
.bg {
    width: 100wh;
    height: 100vh;
    background: rgb(249, 250, 255);
    display: flex;
    justify-content: center;
}
a {
    text-decoration: none;
    color : black;
  }

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    padding: 30px;
    position: absolute;
}
.navbar a {
      font-weight: 600;
      font-size: 20px;
      margin-right: 10px;
      text-decoration: none;
      color: black;
}
.logo {
      font-weight: bold;
      font-size: 25px;
      margin-left: 2%;
} 
.menu{
    display: flex;
    align-items: center;
    gap: 40px;
    margin-right: 5%;
}

.dark-mode .navbar {
    background: #222;
  }
.dark-mode .navbar a {
    color: white;
}
.dark-mode .navbar span {
    color: white;
}
.dark-mode .bg {
    background: rgb(80, 80, 80);
}
.home-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}


.Swiper-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 900px;
    height: 500px;
}

/* .swiper-button-next::after,
.swiper-button-prev::after{
    display: none;
} */

.swiper-button-prev,
.swiper-button-next{
    opacity: 0.7;
    background-size: 70% auto;
    background-position: center;
} 

.home-title{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

button {
    margin: 0;
    background: rgb(249, 250, 255);
}